*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  width: 90px;
  height: 18px;
}
.search-bar{
  box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  height: 55px;
}

.search-results{
  width: 135px;
}

#lightbox{
  background-color: rgba(79, 79, 79, 0.4);
}

#lightbox-tag{
  font-family: 'Muli', sans-serif;
}

#full-search-section{
  height: 460px;
  
}
#full-search-bar{
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  /* height: 55px; */
}

#guest-search, #destination-search{
  width: 425px;
}

#lightbox-search-btn{
  background-color: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.location-result{
  font-family: 'Mulish', sans-serif;
}
/* .rental-photo{
  width: 394px;
  height: 267px;
  object-fit: cover;
} */